.is-full-width {
	width: 100%;
}

.margin-top-20 {
	margin-top: 20vh;
}

.display-none {
	display: none;
}

.stats-table > thead > tr > td {
	background-color: grey;
	border: 1px solid black;
	padding: 20px!important;
}.stats-table > tbody > tr > td {
	 border: 1px solid black;
	padding: 20px!important;
}