<style>
  .atom {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid #eee;
  }

  .atom__el {
    display: inline-block;
    margin: 0 10px;
  }

  .bg-gray {
    background: #eee;
  }


</style>

<div class="atom">
  <div class="social-likes">
    <div class="facebook" title="Share link on Facebook">Facebook</div>
  </div>
</div>

<div class="atom">

  <div class="rateit" data-rateit-resetable="false"></div>

</div>

<div class="atom">

  <div class="product">

    <div class="product__left">
      <div class="product__img-box">
        <img src="img/product-1.png" class="product__img" alt="Product 1"/>
      </div>
    </div>

    <div class="product__right">

      <table class="table is-small is-bordered">
        <tr>
          <td>File name:</td>
          <td>Teenage Mutant Ninja Turtles IV - Turtles in Time (EN) v.1.01</td>
        </tr>
        <tr>
          <td>User rating:</td>
          <td>r a i t i n g</td>
        </tr>
        <tr>
          <td>File size:</td>
          <td>49,2 MB</td>
        </tr>
        <tr>
          <td>Region:</td>
          <td>United States of America</td>
        </tr>
        <tr>
          <td>Console:</td>
          <td>
            Super Nintendo
            <a href="#" class="product__link">
              (Download Emulator)
            </a>
          </td>
        </tr>
        <tr>
          <td>Genre:</td>
          <td>Beat Em Up</td>
        </tr>
        <tr>
          <td>Downloads:</td>
          <td>321,532</td>
        </tr>
      </table>

      <a href="#" class="btn is-with-ico">
        <span class="btn__left">
          <i class="ico is-arrow-down">
            <span class="line"></span>
          </i>
        </span>
        <span class="btn__right">
          Download
        </span>
      </a>

    </div>

  </div><!-- END product -->

</div><!-- END atom -->

<div class="atom">

  <h1>H1 Lorem ipsum dolor sit amet</h1>
  <h2>H2 Lorem ipsum dolor sit amet</h2>
  <h3>H3 Lorem ipsum dolor sit amet</h3>
  <h3>H4 Lorem ipsum dolor sit amet</h3>
  <h3>H5 Lorem ipsum dolor sit amet</h3>
  <h3>H6 Lorem ipsum dolor sit amet</h3>

</div><!-- END atom -->

<div class="atom">

  <div class="social">
    <ul class="social__list">

      <li class="social__el">
        <a href="#" class="social__link is-twitter" title="Twitter" target="_blank">
          <i class="ico is-twitter"></i>
        </a>
      </li>

      <li class="social__el">
        <a href="#" class="social__link is-facebook" title="Facebook" target="_blank">
          <i class="ico is-facebook"></i>
        </a>
      </li>

      <li class="social__el">
        <a href="#" class="social__link is-google" title="Google+" target="_blank">
          <i class="ico is-google"></i>
        </a>
      </li>

    </ul>

  </div><!-- END social -->

</div><!-- END atom -->

<div class="atom">

  <a href="#">Link</a>

</div><!-- END atom -->

<div class="atom">

  <a href="#" class="btn is-blue is-bold" title="View All Consoles">
    View All Consoles
  </a>

</div><!-- END atom -->

<div class="atom">

  <div class="search">

    <i class="ico is-search i-left"></i>
    <input type="search" class="input" placeholder="Search"/>

  </div><!-- END search -->

</div><!-- END atom -->

<div class="atom" style="background-color: #3b62c5">

  <div class="search is-small">

    <i class="ico is-search-big i-right"></i>
    <input type="search" class="input is-small" placeholder=""/>

  </div><!-- END search -->

</div><!-- END atom -->


<div class="atom" style="background-color: #3b62c5">

  <form class="search">

    <div class="search__field">
      <i class="ico is-search-big i-left-center"></i>
      <input type="search" class="input is-big" placeholder="Enter keyword or ROM title"/>
    </div>

    <div class="search__action">
      <button class="btn is-big is-search" type="submit">
        Search
      </button>
    </div>

  </form><!-- END search -->

</div><!-- END atom -->

<div class="atom" style="background-color: #3b62c5">

  <div class="search">

    <input type="search" class="input is-mobile" placeholder="Enter keyword or ROM title"/>

  </div><!-- END search -->

</div><!-- END atom -->

<div class="atom" style="background-color: #3b62c5">

  <div class="logo">
    <a href="#" class="logo__link" title="Romsmania">
      <img src="img/logo.png" alt="Romsmania"/>
    </a>
  </div><!-- END logo -->

</div><!-- END atom -->

<div class="atom" style="background-color: #3b62c5">

  <ul class="nav">
    <li class="nav__el">
      <a href="#" class="nav__link">
        Home
      </a>
    </li>
    <li class="nav__el">
      <a href="#" class="nav__link">
        Roms
        <i class="ico is-triangle-down i-top-right"></i>
      </a>
    </li>
    <li class="nav__el">
      <a href="#" class="nav__link">
        Emulators
        <i class="ico is-triangle-down i-top-right"></i>
      </a>
    </li>
    <li class="nav__el">
      <a href="#" class="nav__link">
        Bios
      </a>
    </li>
  </ul><!-- END nav -->

</div><!-- END atom -->

<div class="atom">

  <div class="pagination">
    <ul class="pagination__list">

      <li class="pagination__el">
        <a href="#" class="btn" title="Previous page" target="_blank">
          <i class="ico is-arrow-left"></i>
          <span>
            Prev
          </span>
        </a>
      </li>

      <li class="pagination__el">
        <a href="#" class="btn" title="1" target="_blank">
          1
        </a>
      </li>

      <li class="pagination__el is-active">
        <a href="#" class="btn" title="2" target="_blank">
          2
        </a>
      </li>

      <li class="pagination__el">
        <a href="#" class="btn" title="3" target="_blank">
          3
        </a>
      </li>

      <li class="pagination__el">
        <a href="#" class="btn" title="4" target="_blank">
          4
        </a>
      </li>

      <li class="pagination__el">
        <a href="#" class="btn" title="Next page" target="_blank">
          <span>
            Next
          </span>
          <i class="ico is-arrow-right"></i>
        </a>
      </li>

    </ul>
  </div><!-- END pagination -->

</div><!-- END atom -->

<div class="atom">

  <div class="breadcrumb">

    <div class="container">

      <ul class="breadcrumb__list">
        <li class="breadcrumb__el">
          <a href="#" class="breadcrumb__link">
            Home
          </a>
        </li>
        <li class="breadcrumb__el">
          <a href="#" class="breadcrumb__link">
            ROMS
          </a>
        </li>
        <li class="breadcrumb__el">
          <a href="#" class="breadcrumb__link">
            Nintendo Ds
          </a>
        </li>
      </ul>

    </div>

  </div><!-- END breadcrumbs -->

</div><!-- END atom -->

<div class="atom">

  <ol class="list">

    <li class="list__el">
      <a href="#" class="list__link">
        Gameboy Advance (54,191,973 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Super Nintendo (44,964,503 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Nintendo DS (23,697,429 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Gameboy Color (12,715,741 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Nintendo 64 (7,986,757 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Nintendo (6,436,134 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Playstation (4,396,154 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Gameboy (2,691,297 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Sega Genesis (2,194,791 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        MAME 037b11 (1,788,785 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        WonderSwan (1,118,738 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Amiga 500 (1,073,127 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Commodore 64 (1,034,342 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Neo Geo (1,017,440 dls)
      </a>
    </li>

    <li class="list__el">
      <a href="#" class="list__link">
        Atari 800 (865,507 dls)
      </a>
    </li>

  </ol>

</div><!-- END atom -->

<div class="atom">

  <table class="table">
    <thead>
      <tr>
        <th>Game title</th>
        <th>Rating
            <span class="arrow arrow-down">
              <i class="fa fa-arrow-down"></i>
            </span>
            <span class="arrow arrow-up">
              <i class="fa fa-arrow-up"></i>
            </span>
        </th>
        <th>Downloads</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <a href="#">
            0001 - Electroplankton
          </a>
        </td>
        <td>4.05/5</td>
        <td>383,982</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0002 - Need For Speed - Underground 2
          </a>
        </td>
        <td>4.1/5</td>
        <td>259,841</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0003 - Yoshi Touch & Go
          </a>
        </td>
        <td>4.3/5</td>
        <td>222,910</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0004 - Feel The Magic - XY XX
          </a>
        </td>
        <td>4.05/5</td>
        <td>180,777</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0005 - WarioWare - Touched!
          </a>
        </td>
        <td>4.1/5</td>
        <td>45,761</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0006 - Polarium
          </a>
        </td>
        <td>4.1/5</td>
        <td>160,733</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0007 - Puyo Pop Fever
          </a>
        </td>
        <td>4.05/5</td>
        <td>180,777</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0008 - Pac-Pix
          </a>
        </td>
        <td>4.0/5</td>
        <td>261,172</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0009 - Space Invaders DS
          </a>
        </td>
        <td>4.0/5</td>
        <td>74,629</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0010 - Cool 104 Joker & Setline

          </a>
        </td>
        <td>4.1/5</td>
        <td>74,145</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0011 - Guru Guru Nagetto
          </a>
        </td>
        <td>4.3/5</td>
        <td>125,724</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0012 - Asphalt - Urban GT
          </a>
        </td>
        <td>4.0/5</td>
        <td>261,781</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0013 - Yoshi Touch & Go
          </a>
        </td>
        <td>4.05/5</td>
        <td>672,677</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            0014 - Pac-Pix
          </a>
        </td>
        <td>4.1/5</td>
        <td>425,642</td>
      </tr>

    </tbody>
  </table>

</div><!-- END atom -->

<div class="atom">

  <table class="table is-small">
    <thead>
      <tr>
        <th align="left">Name</th>
        <th>Searches</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <a href="#">
            Pokemon
          </a>
        </td>
        <td>1142173</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            Mario
          </a>
        </td>
        <td>227043</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            Super Mario
          </a>
        </td>
        <td>213153</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            Zelda
          </a>
        </td>
        <td>102923</td>
      </tr>

      <tr>
        <td>
          <a href="#">
            Mortal Kombat
          </a>
        </td>
        <td>90731</td>
      </tr>
    </tbody>
  </table>

</div><!-- END atom -->

<div class="atom">

  <div class="preview-gallery">
    <ul class="preview-gallery__list">

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-1.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-2.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-3.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-4.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="../img/item-5.png" alt="game"/>
          </a>
        </div>
      </li>
      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-6.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-7.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-4.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-6.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-5.png" alt="game"/>
          </a>
        </div>
      </li>
      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-2.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-1.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-1.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-2.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-7.png" alt="game"/>
          </a>
        </div>
      </li>
      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-4.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-3.png" alt="game"/>
          </a>
        </div>
      </li>

      <li class="preview-gallery__el">
        <div class="item">
          <a href="#" class="item__link">
            <img src="img/item-6.png" alt="game"/>
          </a>
        </div>
      </li>

    </ul>
  </div><!-- END preview-gallery —>

</div><!-- END atom -->

<div class="atom">

  <div class="container">

    <div class="info">

      <h2 class="info__title">
        Looking For More?
      </h2>

      <p class="info__text">
        There are many emulators and vintage games on this site, with thousands of
        games to pick from, you are spoilt for choice. From action to strategic games,
        it’s impossible to pick a favorite. These are all free to play but if you’d
        like to try your luck at a casino game for actual money have a look at
        <a href="http://www.roulette.ca/" title="Roulette.ca" target="_blank">Roulette.ca</a> for some great options. Whether you’re picking red or black, if you
        get lucky you can win big money when you spin the wheel.
        <a href="http://www.onlineroulette.com/" title="OnlineRoulette.com" target="_blank">OnlineRoulette.com</a>
        offers reviews and ratings of the best Internet casinos which offer the best
        welcome bonuses. In the meantime check out the huge range of video game roms,
        that we’ve got listed on this site.
      </p>

    </div><!-- END info -->

  </div><!-- END container -->

</div><!-- END atom -->