<footer class="footer">

  <div class="container">

    <div class="footer__wrap">

      <div class="footer__left">

        <div class="copyright">
          <p>
            © 2016 LoveRoms. All rights reserved.
          </p>
        </div><!-- END copyright -->

        <ul class="list is-horizontal is-grey is-part">

          <li class="list__el">
            <a href="#" class="list__link" title="Home" target="_blank">
              Home
            </a>
          </li>

          <li class="list__el">
            <a href="#" class="list__link" title="ROMs" target="_blank">
              ROMs
            </a>
          </li>

          <li class="list__el">
            <a href="#" class="list__link" title="Contact Us" target="_blank">
              Contact Us
            </a>
          </li>

          <li class="list__el">
            <a href="#" class="list__link" title="Affiliates" target="_blank">
              Affiliates
            </a>
          </li>

          <li class="list__el">
            <a href="#" class="list__link" title="Disclaimer" target="_blank">
              Disclaimer
            </a>
          </li>

        </ul><!-- END list -->

      </div><!-- END footer__left -->

      <div class="footer__right">

        <div class="social social-likes" data-counters="no">

            <div class="facebook" title="Facebook">
              <span class="social__link is-facebook">
                <i class="ico is-facebook"></i>
              </span>
            </div>

            <div class="twitter" title="Twitter">
              <span class="social__link is-twitter">
                <i class="ico is-twitter"></i>
              </span>
            </div>

            <div class="plusone" title="Google+">
              <span class="social__link is-google">
                <i class="ico is-google"></i>
              </span>
            </div>

        </div><!-- END social -->

      </div>

    </div>

  </div>


</footer><!-- END footer -->