<header class="header is-gradient">

  <div class="header__wrap container">

    <div class="header__left">

      <span class="hamburger js-menu-toggle">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </span>

      <div class="logo">
        <a href="index.html" class="logo__link" title="Romsmania">
          <img src="img/logo.png" alt="Romsmania"/>
        </a>
      </div><!-- END logo -->

      <div class="search is-small js-search i-ml-21">

        <i class="ico is-search-big i-right"></i>
        <input type="search"
               class="input is-small js-input"
               placeholder="Search for ROMs"/>

        <div class="search-drop is-small js-search-results">
          <div class="search-drop__head">
            <a href="#">See all results...</a>
          </div>

          //=include search-results.html
        </div>

      </div><!-- END search -->

    </div><!-- END header__left -->

    <div class="header__right">

      <ul class="nav">
        <li class="nav__el">
          <a href="#" class="nav__link">
            Home
          </a>
        </li>
        <li class="nav__el">
          <a href="#" class="nav__link">
            Roms
            <i class="ico is-triangle-down i-top-right"></i>
          </a>
          <div class="dropdown">
            <ul class="dropdown__list">
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Amiga 500
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Atari 800
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Game Gear
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Gameboy Color
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Neo Geo
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Nintendo 64
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Playstation
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Super Nintendo
                </a>
              </li>
            </ul>
            <ul class="dropdown__list">
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Atari 2600
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Commodore 64
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Gameboy Advance
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  MAME 037b11
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Nintendo
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Nintendo DS
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Sega Genesis
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  View All (99)
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav__el">
          <a href="#" class="nav__link">
            Emulators
            <i class="ico is-triangle-down i-top-right"></i>
          </a>
          <div class="dropdown is-plain">
            <ul class="dropdown__list is-full">
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Elit  debitis
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Ligendi
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Nihil porro
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Saepe
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Alias aliquam
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Obcaecati
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Et hic
                </a>
              </li>
              <li class="dropdown__el">
                <a href="#" class="dropdown__link">
                  Veniam vero
                </a>
              </li>
            </ul>
          </div>

        </li>
        <li class="nav__el">
          <a href="#" class="nav__link">
            Bios
          </a>
        </li>
      </ul><!-- END nav -->

    </div><!-- END header__right -->

  </div><!-- END header__wrap -->

</header><!-- END header -->
