<div class="pre-footer container">

  <div class="pre-footer__left">

    <i class="ico is-star"></i>

    <p class="pre-footer__text">
      Popular –
    </p>

  </div>

  <div class="pre-footer__right">

    <ul class="list is-horizontal is-grey is-part">

      <li class="list__el i-pl-3">
        <a href="#" class="list__link" title="Home" target="_blank">
          Gameboy
        </a>
      </li>

      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          Nintendo
        </a>
      </li>


      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          ROM
        </a>
      </li>

      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          Nintendo 64
        </a>
      </li>

      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          Playstation
        </a>
      </li>

      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          Sega Genesis
        </a>
      </li>

      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          MAME
        </a>
      </li>

      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          BIOS
        </a>
      </li>

      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          Emulators
        </a>
      </li>

      <li class="list__el">
        <a href="#" class="list__link" title="Home" target="_blank">
          SONY PS
        </a>
      </li>

    </ul><!-- END list -->


  </div>

</div><!-- END pre-footer -->